@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #00b4db, #0083b0);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 400px;
}

.form-card {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  padding: 30px 35px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
  color: #333;
}

label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  background-color: #f9f9f9;
}

.btn{
  width: 100%;
  padding: 12px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 8px;
  background:linear-gradient(90deg, #0a0f64, #0072ff);
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.3s;
}

.btn:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

.btn-primary {
  width: 100%;
  padding: 12px;
  font-size: 15px;
  font-weight: 600;
  color: black;
  border: none;
  border-radius: 8px;
  background:linear-gradient(90deg, #0a0f64, #0072ff);
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.3s;
}

.btn:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}


.text-link {
  text-align: center;
  font-size: 14px;
  margin-top: 18px;
}

.text-link a {
  color: #0072ff;
  text-decoration: none;
  font-weight: 500;
}

.text-link a:hover {
  text-decoration: underline;
}
